#Project Car Prices

#importing the needed packages

In [55]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

#Reading the file

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/peterkoebel/Project-Car-Prices/master/automobile.csv')

#Checking the column names and first rows

In [4]:
data.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

#This dataset doesn't have column names. This will have to be fixed.
#Let's explore more of the dataset.

In [5]:
data.isnull().any()

3              False
?              False
alfa-romero    False
gas            False
std            False
two            False
convertible    False
rwd            False
front          False
88.60          False
168.80         False
64.10          False
48.80          False
2548           False
dohc           False
four           False
130            False
mpfi           False
3.47           False
2.68           False
9.00           False
111            False
5000           False
21             False
27             False
13495          False
dtype: bool

In [6]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

Series([], dtype: float64)

In [7]:
data[data.isnull().any(axis=1)][data.columns[data.isnull().any()].tolist()]

Empty DataFrame
Columns: []
Index: []

#Checking the datatypes

In [8]:
data.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.60          float64
168.80         float64
64.10          float64
48.80          float64
2548             int64
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9.00           float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

#Reading the dataset again. Adding column names and changing values of ? to NaN values.

In [9]:
column_names = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors', 
              'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 
              'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 
              'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

data = pd.read_csv('https://raw.githubusercontent.com/peterkoebel/Project-Car-Prices/master/automobile.csv', header=-1, names=column_names, na_values='?')

In [10]:
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

#That looks a lot better.
#Let's explore our missing values again.

In [11]:
data.isnull().any()

symboling            False
normalized_losses     True
make                 False
fuel_type            False
aspiration           False
num_of_doors          True
body_style           False
drive_wheels         False
engine_location      False
wheel_base           False
length               False
width                False
height               False
curb_weight          False
engine_type          False
num_of_cylinders     False
engine_size          False
fuel_system          False
bore                  True
stroke                True
compression_ratio    False
horsepower            True
peak_rpm              True
city_mpg             False
highway_mpg          False
price                 True
dtype: bool

In [12]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

normalized_losses    41
num_of_doors          2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

In [13]:
data[data.isnull().any(axis=1)][data.columns[data.isnull().any()].tolist()]

,normalized_losses,num_of_doors,bore,stroke,horsepower,peak_rpm,price
0,NaN,two,3.47,2.68,111.0,5000.0,13495.0
1,NaN,two,3.47,2.68,111.0,5000.0,16500.0
2,NaN,two,2.68,3.47,154.0,5000.0,16500.0
5,NaN,two,3.19,3.40,110.0,5500.0,15250.0
7,NaN,four,3.19,3.40,110.0,5500.0,18920.0
9,NaN,two,3.13,3.40,160.0,5500.0,NaN
14,NaN,four,3.31,3.19,121.0,4250.0,24565.0
15,NaN,four,3.62,3.39,182.0,5400.0,30760.0
16,NaN,two,3.62,3.39,182.0,5400.0,41315.0
17,NaN,four,3.62,3.39,182.0,5400.0,36880.0
27,148.0,NaN,3.03,3.39,102.0,5500.0,8558.0
43,NaN,four,3.31,3.23,78.0,4800.0,6785.0
44,NaN,two,3.03,3.11,70.0,5400.0,NaN
45,NaN,four,3.03,3.11,70.0,5400.0,NaN
46,NaN,two,3.43,3.23,90.0,5000.0,11048.0
48,NaN,four,3.63,4.17,176.0,4750.0,35550.0
49,NaN,two,3.54,2.76,262.0,5000.0,36000.0
55,150.0,two,NaN,NaN,101.0,6000.0,10945.0
56,150.0,two,NaN,NaN,101.0,6000.0,11845.0
57,150.0,two,NaN,NaN,101.0,6000.0,13645.0
58,150.0,two,NaN,NaN,135.0,6000.0,15645.0
63,NaN,NaN,3.39,3.39,64.0,4650.0,10795.0
66,NaN,four,3.43,3.64,72.0,4200.0,18344.0
71,NaN,four,3.46,3.10,155.0,4750.0,34184.0
73,NaN,four,3.80,3.35,184.0,4500.0,40960.0
74,NaN,two,3.80,3.35,184.0,4500.0,45400.0
75,NaN,two,3.78,3.12,175.0,5000.0,16503.0
82,NaN,two,3.58,3.86,145.0,5000.0,12629.0
83,NaN,two,3.59,3.86,145.0,5000.0,14869.0
84,NaN,two,3.59,3.86,145.0,5000.0,14489.0
109,NaN,four,3.46,3.19,97.0,5000.0,12440.0
110,NaN,four,3.70,3.52,95.0,4150.0,13860.0
113,NaN,four,3.46,2.19,95.0,5000.0,16695.0
114,NaN,four,3.70,3.52,95.0,4150.0,17075.0
124,NaN,two,3.59,3.86,145.0,5000.0,12764.0
126,NaN,two,3.74,2.90,207.0,5900.0,32528.0
127,NaN,two,3.74,2.90,207.0,5900.0,34028.0
128,NaN,two,3.74,2.90,207.0,5900.0,37028.0
129,NaN,two,3.94,3.11,288.0,5750.0,NaN
130,NaN,four,3.46,3.90,NaN,NaN,9295.0
131,NaN,two,3.46,3.90,NaN,NaN,9895.0
181,NaN,four,3.27,3.35,156.0,5200.0,15750.0
189,NaN,two,3.19,3.40,90.0,5500.0,11595.0
191,NaN,four,3.19,3.40,110.0,5500.0,13295.0
192,NaN,four,3.01,3.40,68.0,4500.0,13845.0
193,NaN,four,3.19,3.40,88.0,5500.0,12290.0

#Re-checking the datatypes.

In [14]:
data.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

#Analyzing the categorical data

In [15]:
data.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [16]:
data.fuel_type.unique()

array(['gas', 'diesel'], dtype=object)

In [17]:
data.aspiration.unique()

array(['std', 'turbo'], dtype=object)

In [18]:
data.num_of_doors.unique()

array(['two', 'four', nan], dtype=object)

In [19]:
data.body_style.unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'], dtype=object)

In [20]:
data.drive_wheels.unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [21]:
data.engine_location.unique()

array(['front', 'rear'], dtype=object)

In [22]:
data.engine_type.unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [23]:
data.num_of_cylinders.unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'], dtype=object)

In [24]:
data.fuel_system.unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'], dtype=object)

#Now we'll drop the column that are very useful. Althought the make of a car does normally factor into the price fo a car, with this small number of rows and wide variety opf makes, it isn't very useful. Symboling is used for insurance purposes post purchases and isn't useful to determine the price. Lastly normalized_losses has too many fields that are missing data.

In [25]:
data.drop(['make', 'symboling', 'normalized_losses'], axis=1, inplace = True)

In [26]:
data.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

#No we'll deal any fields that are missing data.

In [27]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

num_of_doors    2
bore            4
stroke          4
horsepower      2
peak_rpm        2
price           4
dtype: int64

In [28]:
data[data.num_of_doors.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
27,gas,turbo,NaN,sedan,fwd,front,93.7,157.3,63.8,50.6,...,98,mpfi,3.03,3.39,7.6,102.0,5500.0,24,30,8558.0
63,diesel,std,NaN,sedan,fwd,front,98.8,177.8,66.5,55.5,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0

In [29]:
data.num_of_doors[data.body_style == 'sedan'].value_counts()

four    79
two     15
Name: num_of_doors, dtype: int64

#We'll use the mode or most common value for this category.

In [30]:
data.loc[27,'num_of_doors'] = 'four'
data.loc[63,'num_of_doors'] = 'four'

In [31]:
data[data.bore.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

#For numerical columns, we can use the mean or average value of the columns.

In [32]:
data.bore.fillna(data.bore.mean(), inplace=True)

In [33]:
data.stroke.fillna(data.stroke.mean(), inplace=True)

In [34]:
data.horsepower.fillna(data.horsepower.mean(), inplace=True)

In [35]:
data.peak_rpm.fillna(data.peak_rpm.mean(), inplace=True)

#With Price being our dependent variable and what we want to predict, we'll remove rows that have missing data for the column.

In [36]:
data.drop(data[data.price.isnull()].index, axis = 0, inplace = True)

#Re-checking for missing values.

In [37]:
data[data.columns[data.isnull().any()].tolist()].isnull().sum()

Series([], dtype: float64)

#Excellent, no missing values now.

#Now we'll deal with categorical columns

In [38]:
data.num_of_cylinders.value_counts()

four      157
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num_of_cylinders, dtype: int64

#We will change this column from categorical to numerical

In [40]:
data.loc[data.index[data.num_of_cylinders == 'four'], 'num_of_cylinders'] = 4
data.loc[data.index[data.num_of_cylinders == 'six'], 'num_of_cylinders'] = 6
data.loc[data.index[data.num_of_cylinders == 'five'], 'num_of_cylinders'] = 5
data.loc[data.index[data.num_of_cylinders == 'eight'], 'num_of_cylinders'] = 8
data.loc[data.index[data.num_of_cylinders == 'two'], 'num_of_cylinders'] = 2
data.loc[data.index[data.num_of_cylinders == 'twelve'], 'num_of_cylinders'] = 12
data.loc[data.index[data.num_of_cylinders == 'three'], 'num_of_cylinders'] = 3

data.num_of_cylinders = data.num_of_cylinders.astype('int')

#Using dummy variables for the other categorical columns

In [41]:
cat_columns = ['fuel_type', 'fuel_system', 'aspiration', 'num_of_doors', 
               'body_style', 'drive_wheels', 'engine_location', 'engine_type']

data = pd.get_dummies(data, columns = cat_columns, drop_first=True)

In [42]:
data.dtypes

wheel_base              float64
length                  float64
width                   float64
height                  float64
curb_weight               int64
num_of_cylinders          int32
engine_size               int64
bore                    float64
stroke                  float64
compression_ratio       float64
horsepower              float64
peak_rpm                float64
city_mpg                  int64
highway_mpg               int64
price                   float64
fuel_type_gas             uint8
fuel_system_2bbl          uint8
fuel_system_4bbl          uint8
fuel_system_idi           uint8
fuel_system_mfi           uint8
fuel_system_mpfi          uint8
fuel_system_spdi          uint8
fuel_system_spfi          uint8
aspiration_turbo          uint8
num_of_doors_two          uint8
body_style_hardtop        uint8
body_style_hatchback      uint8
body_style_sedan          uint8
body_style_wagon          uint8
drive_wheels_fwd          uint8
drive_wheels_rwd          uint8
engine_location_rear      uint8
engine_type_l             uint8
engine_type_ohc           uint8
engine_type_ohcf          uint8
engine_type_ohcv          uint8
engine_type_rotor         uint8
dtype: object

#Now it's time to split the data into a training dataset (80%) and a testing dataset (20%).

In [43]:
train, test = train_test_split(data, test_size=0.2)

#Separating the dependent variable of the training dataset

In [45]:
Y_train = train.price
X_train = train.drop(['price'], axis=1)

#Separating the dependent variable of the test dataset

In [46]:
Y_test = test.price
X_test = test.drop(['price'], axis=1)

#Creating the linear regression object

In [48]:
lrm = linear_model.LinearRegression()

#Using the training dataset to train the model

In [49]:
lrm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

#using the testing dataset to make predictions

In [50]:
predicted_price = lrm.predict(X_test)

#Determining the R_Squared of the model

In [53]:
r_square = r2_score(Y_test, predicted_price)
print('Variance score: {0:.2f}'.format(r_square))

Variance score: 0.91

#Printing the comparison between the actual value and the predicted value

In [56]:
actual_data = np.array(Y_test)

In [59]:
for i in range(len(predicted_price)):
    actual = actual_data[i]
    predicted = predicted_price[i]
    explained = ((actual_data[i] - predicted_price[i])/actual_data[i])*100
    
    print('Actual value ${:,.2f}, Predicted value${:,.2f} (%{:,.2f})'.format(actual, predicted, explained))

Actual value $6,785.00, Predicted value$8,859.72 (%-30.58)
Actual value $15,750.00, Predicted value$17,343.95 (%-10.12)
Actual value $9,279.00, Predicted value$8,567.69 (%7.67)
Actual value $7,295.00, Predicted value$8,130.97 (%-11.46)
Actual value $8,058.00, Predicted value$8,915.00 (%-10.64)
Actual value $11,549.00, Predicted value$13,817.29 (%-19.64)
Actual value $17,450.00, Predicted value$17,154.07 (%1.70)
Actual value $17,950.00, Predicted value$18,294.93 (%-1.92)
Actual value $7,895.00, Predicted value$9,617.65 (%-21.82)
Actual value $7,053.00, Predicted value$6,358.14 (%9.85)
Actual value $7,898.00, Predicted value$6,589.12 (%16.57)
Actual value $5,499.00, Predicted value$6,629.10 (%-20.55)
Actual value $7,957.00, Predicted value$6,774.65 (%14.86)
Actual value $14,489.00, Predicted value$13,861.27 (%4.33)
Actual value $5,572.00, Predicted value$6,499.63 (%-16.65)
Actual value $8,189.00, Predicted value$10,609.29 (%-29.56)
Actual value $9,960.00, Predicted value$10,086.02 (%-1.27)
Actual value $8,921.00, Predicted value$11,248.98 (%-26.10)
Actual value $13,415.00, Predicted value$17,385.75 (%-29.60)
Actual value $13,295.00, Predicted value$16,711.88 (%-25.70)
Actual value $15,580.00, Predicted value$17,831.59 (%-14.45)
Actual value $8,495.00, Predicted value$11,816.37 (%-39.10)
Actual value $13,845.00, Predicted value$8,964.59 (%35.25)
Actual value $18,399.00, Predicted value$17,815.07 (%3.17)
Actual value $16,500.00, Predicted value$13,675.51 (%17.12)
Actual value $28,176.00, Predicted value$25,210.52 (%10.52)
Actual value $7,299.00, Predicted value$6,819.25 (%6.57)
Actual value $12,440.00, Predicted value$13,422.94 (%-7.90)
Actual value $18,280.00, Predicted value$17,438.88 (%4.60)
Actual value $28,248.00, Predicted value$26,740.66 (%5.34)
Actual value $16,845.00, Predicted value$19,274.80 (%-14.42)
Actual value $24,565.00, Predicted value$20,581.90 (%16.21)
Actual value $7,788.00, Predicted value$7,655.66 (%1.70)
Actual value $12,764.00, Predicted value$15,605.01 (%-22.26)
Actual value $37,028.00, Predicted value$37,237.02 (%-0.56)
Actual value $9,959.00, Predicted value$8,978.42 (%9.85)
Actual value $10,898.00, Predicted value$9,598.60 (%11.92)
Actual value $7,609.00, Predicted value$6,669.88 (%12.34)
Actual value $18,150.00, Predicted value$20,899.32 (%-15.15)
Actual value $9,989.00, Predicted value$13,317.36 (%-33.32)
Actual value $6,938.00, Predicted value$7,480.36 (%-7.82)

#3 of the predicted values have a difference of over 30% from the actual value. 15 of the predicted values have a difference of less than 10% from the actual value.